* {
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow-x: hidden;
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    font-style: italic;
}

.box-shadow {
    -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
}

.sub-heading, .nav-heading {
    margin: 10px 0px 15px;
}

.nav-heading {
    text-align: center;
}

.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-row-gap: 1em;
    /* Background-image: url('../img./bg_background3.jpg');  */
}

.r1,
.r2,
.r3 {
    display: grid;
    grid-template-columns: 1.5fr 5fr 2fr;
    grid-column-gap: 1em;
}

.r1, .r3 {
    background-color:rgba(91, 68, 97, 0.76);
}

.r2 {
    background-color: rgba(214, 194, 199, 0.7);
    width:90%;
    margin: 0px auto;
}


.r2c1,
.r2c3 {
    background-color: rgba(214, 194, 199, 0.3);
}

/* R1 C1 - Logo Top Left */
.logo {
    height: 80%;
    padding: 3px;
    float: left;
}

.logo-text {
    display: block;
    padding: 3px 0px 3px 5px;
    font-size: 25px;
    color: gainsboro;
    float: left;
    width: 75%;
    align-self: center;
    text-align: left;
}

/* R2 C1 - Left Nav */
.left-nav {
    /* removes bullets */
    list-style-type:none;
    padding:10px;
}

.left-nav>li>a {
    display: block;
    padding: 15px;
    /* text-decoration gets rid of underlined hyperlink */
    text-decoration: none;
    transition-duration: 0.5s;
    /* background-color:  rgba(204, 204, 204, 0.9); */
    border: 1px solid  #B28D95;
    font-weight: bold;
    background-color:  rgba(204, 204, 204, 0.9);
}
.left-nav>li>a:hover {
    color: rgb(221, 221, 221);
}
.link1 {
    color: #9EA4BA;
}
.link2 {
    color: #B28D94;
}
.link3 {
    color: #5E4362;
}
.link4 {
    color: #4F4869;
}
.link5 {
    color: #3A4064;
}
.link6 {
    color: #1D2D4E;
}

.link7 {
    color: #15314E;
}

.link1:hover {
    background-color:#9EA4BA;
}
.link2:hover {
    background-color:#B28D94; 
}
.link3:hover {
    background-color:#5E4362;
}
.link4:hover {
    background-color:#4F4869;
}
.link5:hover {
    background-color: #3A4064;
}

.link6:hover {
    background-color: #25375F;
}

.link7:hover {
    background-color: #15314E;
}


/* R2 C2 - Main Content - Table */
.course-table {
    table-layout: fixed;
    width: 100%;
}
/* Edit all data */
td {
    padding: 10px;
}
/* Edit the header rows */
.course-table > thead > tr {
    height: 50px;
    text-align: center;
}
/* Edit the header data */
.course-table > thead > tr > td {
    border: 1px solid rgb(91, 68, 97);
    font-weight: bold;
    color: gainsboro;
    font-size:18px; 
    background-color:rgba(91, 68, 97,0.9);
}
/* Edit the body rows */
.course-table > tbody > tr {
    height:28px;
}
.tbl-r1, .tbl-r3, .tbl-r5 {
    background-color: rgba(233,172,163, 0.3);
}
.tbl-r2, .tbl-r4, .tbl-r6 {
background-color:rgba(152,180,204, 0.5);
}

/* Edit the body table data */
.course-table > tbody > tr > td {
    border: 1px solid rgb(91, 68, 97);
}
/* R2 C3 */
.r2c3 {
    padding: 0px 15px 10px;
}

.rnav-pics {
    list-style-type: none;
    text-align: center;
}

.rnav-pics>li {
    display: block;
     margin: 10px; 
}

.rnav-pics>li>img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.rnav-item:hover .image {
    opacity: 0.3;
}
.rnav-item:hover .middle {
    opacity: 1;
}

.image{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition:.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text{
    background-color: whitesmoke;
    font-size:12px;
    padding: 12px 20px;
    font-style: italic
}

/* R3 C2 */
.copyright-text {
    align-self:center;
    justify-self: center;
    color: gainsboro;
}